html::-webkit-scrollbar{width:0}
html{
  font-size: $font-html-size;
  -webkit-text-size-adjust:100%;
}
body{
  font-family:$font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 0.6rem;
  min-width:$container-width;
  background-color: $bg-color-base;
}
.container{
  width: $container-width;
  margin:0 auto;
}
:after, :before {
  @extend %boxSize
}
.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
header,ul,.el-row{
  &:focus{
    outline:none
  }
}
.href-abs{
  @extend %absolute;
  z-index: 10;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5){
  .boder-1px{
    &::after{
      -webkit-transform:scaleY(0.7);
      transform:scaleY(0.7);
    }
  }
}
@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2){
  .boder-1px{
    &::after{
      -webkit-transform:scaleY(0.5);
      transform:scaleY(0.5);
    }
  }
}


.el-tab-pane{
  min-height:30rem;
}
