.header-style{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  border-bottom: 1px solid rgb(242, 242, 242);
  .el-menu--horizontal{
    border-bottom:0
  }
}
.logo{
  height:80%;
  width:auto;
  margin-top: 10px;
  vertical-align: top;
}
#header{
  width: $container-width;
  display: block;
  margin:0 auto;
}
