.news-item{
  padding: 1rem;
  border-bottom: 1px solid #eee;
  background-color: $bg-fff;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  &:hover{
    background-color: #f9fafd;
  }
  .news-media{
    position: relative;
    display: inline-block;
    float: left;
    width:10.75rem;
    overflow: hidden;
    @extend %boxSize;
    .top-padding{
      padding-top:65%;
    }
    .img-box{
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      display: block;
      img{
        display: block;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        max-width:100%;
        max-height:100%;
      }
    }
  }
  .news-content{
    padding-left:11.75rem;
    .news-title{
      position: relative;
      font-size:0.9rem;
      margin-bottom:0.75rem;
      font-weight: bold;
    }
    .news-info{
      line-height: 1.6;
      color: #777;
      font-size: 0.7rem;
    }
  }
}
